registry=http://npm.eng.tcs.local/repository/npm-registry/
@telsis:registry=http://npm.eng.tcs.local/repository/npm-telsis/
@telsis-types:registry=http://npm.eng.tcs.local/repository/npm-telsis/
//npm.eng.tcs.local/repository/npm-telsis/:_authToken=NpmToken.83bceda8-f423-39ca-bdc1-aa4dec31142e
